h3{
	font-size:185%;
	border-top: hidden;
	border-bottom: 2px groove #990000;
	margin-bottom: 40px;
}


#form-component {
	margin: auto;
	width: 75%;
	background-color: #e6e6e6;
	border-top: hidden;
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 20px 330px 20px 330px;
}

input[type=button] {
	margin-top: 15px;
	background-color:#333333;
}

input[type=button]:hover {
	border: 2px solid #333333;
}

input[type=file] {
	margin-top:10px;
	margin-bottom: 10px;
	border-width: 2px;
}

input[type=submit] {
	margin-top: 10px;
}

input[type=submit]:hover {
	border: 1px solid black;
}

#descrip, #avgprice, .cat, #info {
	margin-top: 30px;
}

.labels {
	margin-top:50px;
}

#close {
	float:right;
	margin-right: 50px;
}