html {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  height: 100%;
}

#header {
  background-color: #990000;
  color: white;
  padding: 0;
}

#header h1, #header h2 {
  padding: 15px;
  margin: 0;
}

.nav-btns ul {
  background-color: #990000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav-btns li {
  float: left;
  background: none;
  padding: 0;
}

.nav-btns li:hover, #user-info a:hover {
  background: #660000;
}

.nav-btns li:active, .header-elem-active{
  background: #660000;
}

.nav-btns a, #back_btn {
  text-align: center;
  display: block;
  padding: 5px 10px;
  color: white;
  /* font-weight: bold; */
  text-decoration: none;
}

.nav-btns a:hover {
  color: white;
}

#panel {
  width: 20%;
  margin-top: 20 px;
  text-align: center;
  color: #990000;
}

#panel a {
  text-decoration: none;
  font-weight: bold;
  color: #990000;
}

#panel a:hover {
  color: #444444;
  font-weight: bold;
}

#panel input {
  display: block;
  width: 100%;
}

#footer {
  background-color: #990000;
  color: white;
  padding: 5px 10px;
}