/* Bordered form */
form.profile {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text].profile, input[type=password].profile {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button.profile {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn.profile {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer.profile {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar.profile {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container.profile {
    padding: 16px;
}

/* Save edit button */
.editsave.profile {
    width: auto;
    padding: 10px 18px;
    border-radius: 50px;
    background-color: #4CAF50;
}

/* Save edit button disabled */
.editsave.profile.disabled {
    background-color: #555;
    cursor: default;
}

/* Cancel edit button */
.editcancel.profile {
    width: auto;
    float: right;
    padding: 10px 18px;
    border-radius: 50px;
    background-color: #f44336;
}

/* Cancel edit button disabled */
.editcancel.profile.disabled {
    background-color: #555;
    cursor: default;
}

/* Edit icon on hover */
.profile.fa:hover {
    cursor: pointer;
}

/* Biography textarea */
textarea.profile {
    width: 100%;
    resize: vertical;
    margin-top: 8px;
    border-radius: 10px;
    outline: none !important;
    border:1px solid #4169e1;
}
textarea.profile.success {
    border:1px solid #3dd149;
}
textarea.profile.error {
    border:1px solid #c01010;
}

/* Profile form close button */
#profile-close {
    margin: 5px;
    float: right;
}

/* Profile form close button */
#profile-close:hover {
    color: #bf2b2b;
}

/* Profile labels */
label[id*="profile-label"] {
    color: #4169e1;
}
label[id*="profile-label"].success {
    color: #3dd149;
}
label[id*="profile-label"].error {
    color: #c01010;
}


/* PROFILE MODAL */

/* The Modal (background) */
.profile.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.profile.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.profile.animate {
    -webkit-animation: profileAnimatezoom 0.6s;
    animation: profileAnimatezoom 0.6s
}

@-webkit-keyframes profileAnimatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes profileAnimatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}