#restaurant h2 {
	font-size: 30px;
    line-height: 40px;
}

#restaurant h4{
	color: #cc0000;
}

#price, #cat, #open {
    border-bottom: 1px groove #f2f2f2;
	margin: auto;
	width: 75%;
}

#restaurantInfo {
	float: right;
	background-color: #e6e6e6;
    width: 210px;
    border: 1px groove #999999;
	border-radius: 6px;
	margin: 23px 250px 15px 200px;
	text-align: center;
}



.localization {
	width: 210px;
    border: 1px solid #595959;
	padding-left: 7px;
	padding-top: 6px;
    margin: 20px 100px 30px 5px;
	float:right;
}


#map {
	border: 1px solid #595959;
	margin: 2px 4px 13px 0px;	
}

#country, #road, #city, #postalCode {
	padding-left: 15px;
}

#country {
	margin-bottom: 10px;
}

#photos {
	margin-bottom: 15px;
}

#photo {
    margin: 15px 5px 10px 5px;
    border: 1px solid #ccc;
    width: 300px;
	/*float:left;*/
}

#photo:hover {
    border: 2px solid #777;
}
#photo img {
    width: 100%;
    height: auto;
}

#add {
	padding: 10px 0px 20px 0px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#add a {
	color: #005ce6;
	text-decoration: none;
}

#add a:hover {
	text-decoration: underline;
}

.review {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: groove;
    border-left-style: hidden;
	border-width: 1px;
}

#reviews {
	padding-bottom: 15px;
	border-top-style: groove;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
	border-width: 1px;
}

.rev2 {
	padding:0 0px 15px 50px;
}

.response {
	margin-top: 10px;
	margin-left: 150px;
}
