h3{
	font-size:190%;
	border-top: hidden;
	border-bottom: 2px groove #990000;
	margin-bottom: 40px;
}

#search {
	margin: auto;
	width: 75%;
	background-color: #f2f2f2;
	border-top: hidden;
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 20px 330px 20px 330px;
}

input[type=submit] {
	margin-top: 15px;
}

input[type=submit]:hover {
	border: 1px solid black;
}

#labels {
	margin-top: 15px;
}

#max {
	float:right;
	margin-right: 100px;
}