#restaurants {
	margin: auto;
	width: 80%;
	background-color: #e6e6e6;
	border-top: hidden;
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 20px 20px 20px 20px;
}

#restaurants li {
	border-top-style: hidden;
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: hidden;
	border-width: 1px;
	font-size: medium;
	width: 90%;
	margin:auto;
}

#restaurants a {
	color: #005ce6;
	text-decoration: none;
}

#restaurants a:hover {
	text-decoration: underline;
}
