/* Login dropdown on the right */
.user-dropdown {
    float: right;
    position: relative;
    height: 28px;
}

/* Login dropdown content (hidden by default) */
.user-dropdown-content {
    display: none;
    position: fixed;
    background-color: #b30000;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 8px;
}

#user-dropdown-content a:hover {
    background-color: #e60000;
    cursor: pointer;
}

#user-dropdown-username {
    display: table;
    padding: 0px 10px;
}

a#user-dropdown-username {
    height: 28px;
}

#header-img-avatar {
    width: 28px;
    height: 28px;
    border-radius: 20px;
}

#header-span-username {
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.25em;
}
/* Class to show a hidden object */
.show {display:block;}
